<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}OrderApp{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('node_modules/@fortawesome/fontawesome-free/css/all.min.css') }}">
            <link rel="stylesheet" href="{{ asset('node_modules/animate.css/animate.min.css') }}">
        {% endblock %}
    </head>
    <body>
        

        {% block body %}{% endblock %}

        <footer class="bg-dark text-light text-center py-4">
            <div class="container">
                INUBIL | &copy; Copyright 2025 
            </div>
        </footer>

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            <script type="text/javascript" src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('node_modules/@fortawesome/fontawesome-free/js/all.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
