<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}OrderApp{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('node_modules/jqueryui/jquery-ui.min.css') }}">
            <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('node_modules/@fortawesome/fontawesome-free/css/all.min.css') }}">
            <link rel="stylesheet" href="{{ asset('node_modules/animate.css/animate.min.css') }}">
            <link rel="stylesheet" href="{{ asset('node_modules/sweetalert2/dist/sweetalert2.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        {% endblock %}
    </head>
    <body>
        <div id="sidebar" class="bg-dark" data-bs-theme="dark">
            <h3 class="text-light text-center py-4">
                OrderApp
                <p class="fs-6 text">
                    Gérer vos commandes facilement
                </p>
                <a class="btn btn-sm btn-info text-white" href="#">
                    <i class="fa fa-user"></i>
                </a>
                <a class="btn btn-sm btn-danger text-white" href="#">
                    <i class="fas fa-sign-out"></i>
                </a>
            </h3>

            <hr />
            
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('home.index') }}">
                        Accueil
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Gestion des commandes
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Gestion des produits
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('user.index') }}">
                        Gestion des utilisateurs
                    </a>
                </li>
            </ul>


            <footer class="text-center text-white py-4">
                <div class="container">
                    INUBIL | &copy; Copyright 2025 
                </div>
            </footer>
        </div>



        <div id="content">
            {% block body %}{% endblock %}
        </div>






        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            <script type="text/javascript" src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('node_modules/jqueryui/jquery-ui.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('node_modules/@fortawesome/fontawesome-free/js/all.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('node_modules/sweetalert2/dist/sweetalert2.all.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/script.js') }}"></script>
        {% endblock %}



        {% if app.session.get('errors') is not null %}
        {% set errors = app.session.get('errors') %}
        <script type="text/javascript">
                Swal.fire({
                toast: true, // si tu préfères un toast (mini-alert en haut)
                position: 'top-end', // position du toast
                icon: "{{ errors['type'] }}",
                title: "{{ errors['message'] }}",
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true
            });
        </script>
        {# nettoyer après affichage si souhaité #}
        {% do app.session.remove('errors') %}
        {% endif %}
    </body>
</html>
