{% extends 'base.html.twig' %}

{% block title %}OrderApp | Gestion des utilisateurs{% endblock %}

{% block body %}
    <section class="container">
        <div class="row justify-content-between text-center bg-body-secondary py-4">
            <div class="col-4 fw-bold fs-4">
                Utilisateurs
            </div>
            <div class="col-4">
                <a class="btn btn-md btn-info" href="{{ path('user.edit') }}">
                    <i class="fas fa-plus"></i>
                    Ajouter un utilisateur
                </a>
            </div>
        </div>


        <div class="table-responsive py-4">
            <table class="datatable table table-striped table-bordered" style="width: 100%">
                <thead class="table-light">
                    <tr>
                        <th>N°</th>
                        <th>NOM</th>
                        <th>PRENOM</th>
                        <th>TELEPHONE</th>
                        <th>EMAIL</th>
                        <th>OPTIONS</th>
                    </tr>
                </thead>
                <tbody>
                    {% if users is defined and users is not null and users|length > 0 %}
                    {% set i= 0 %}
                    {% for user in users %}
                    {% set i= i+1 %}
                    <tr>
                        <td>{{ i }}</td>
                        <td>{{ user.nom }}</td>
                        <td>{{ user.prenom }}</td>
                        <td>{{ user.telephone }}</td>
                        <td>{{ user.email }}</td>
                        <td class="text-center">
                            <a class="btn btn-sm btn-info" href="#">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a class="btn btn-sm btn-danger" href="#">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
